$white: #ECEBE4;
$Tuscany: #cc998d;
$SeaGreen: #16f4d0;
$CadetBlue: #429ea6;
$Indigo: #153b50;

.About-Container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: relative;
   margin-bottom: 40px;
}

.About-Left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    img{
        position: static;
        width: 100%;
        height: auto;
        
       
    }
}
.About-Right{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
   
}
.About-Right-Text{
    width: 80%;
    color: $white;
    

}
.About-Header{
    font-size: x-large;
    color: $white;
    
}



//animations
.slide-in-right{
    animation: slideInRight ease 3s
}
@keyframes slideInRight{
    0% {transform: translateX(150%)}
    100% {transform: translateX(0%);}
}
.slide-out-right{
    animation: slideOutRight ease .5s
}
@keyframes slideOutRight{
   
    0% {transform: translateX(0%);}
    100% {transform: translateX(150%);}
}

