$white: #ecebe4;
$Tuscany: #cc998d;
$SeaGreen: #16f4d0;
$CadetBlue: #429ea6;
$Indigo: #153b50;

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__info {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

    h1 {
      color: $SeaGreen;
      font-size: 5.5vw;
      text-shadow: 1px 2px 2px #111;
    }
  }

  &__text {
    width: 40%;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-around;
    color: $white;
    img {
      width: 75px;
      height: 75px;
    }
    h4 {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      font-family: "Courier New", Courier, monospace;
      font-size: small;
      padding: 5px;
      img {
        margin-top: 5px;
        width: 30px;
        height: 30px;
      }
    }
  }
  &__spacer {
    color: $white;
    font-size: small;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    padding: 5px;
  }

  &--fadein1 {
    animation: fadeIn1 ease 5s;
  }
  &--fadein2 {
    animation: fadeIn2 ease 5s;
  }
  &--fadein3 {
    animation: fadeIn3 ease 5s;
  }
  @keyframes fadeIn1 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
  }
  @keyframes fadeIn3 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.scroll-down-ind {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  i {
    height: 20px;
    width: 20px;
  }
  img {
    height: 20px;
    width: 20px;
  }
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: small;
    cursor: pointer;
    color: #fff;
  }
}

.bounce {
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}


@media only screen and (max-width: 768px){
  .landing{
    &__text{
      width: 50%;
    }
    &__spacer{
      font-size: x-small;
     
    }
    h4{
      font-size: x-small;
     
    }
  }
}
@media only screen and (max-width: 425px){
  .landing{
    height: 101vh;
    &__text{
      width: 70%;
    }}
}